
body {
    background-color: #e1e1e1;
}

.container {
    width: 90%;
    margin: auto;
    background-color: #F4CE6A;
    padding: 1rem;
    margin-top: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.main-container {
    display: flex;
}

img {
    width: 30%;
    height: 50%;
    border-radius: 15px;
    flex: 0.4;
}

form {
    flex: 0.6;
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin: auto;
    margin: 1rem
}

input {
    width: 70%;
    border: 1px solid white;
    outline: none;
    padding: 1rem;
}

button {
    font-size: 1rem;
    padding: 0.5rem 2rem;
    margin-left: 1rem;
    border: none;
    cursor: pointer;
}

.result {
    width: 60%;
    border: 1px solid white;
    padding: 1rem;
    margin: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

@media screen and (max-width: 768px) {
    img {
        display: none;
        flex: 0;
    }

    form {
        flex: 1
    }

    input {
        width: 80%;
    }

    .result {
        width: 70%
    }
}